.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: .75rem;
    padding: 1rem;
    cursor: pointer;
    @include transition;

    /*&:hover{
        background-color: $color-dark_gray;
    }*/

    &--lgreen{
        background: $color-light_green;
        fill: $color-white;
    }

    &--lblue{
        fill: $color-white;
        background: $color-light_blue;
    }

    &--dgreen{
        fill: $color-white;
        background: $color-dark_green;
    }
}