.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: .75rem;
    padding: 1rem;
    cursor: pointer;
    @include transition;



    &--lgreen{
        background-color: $color-light_green;
        fill: $color-white;
    }

    &--lblue{
        fill: $color-white;
        background-color: $color-light_blue;
    }

    &--dgreen{
        fill: $color-white;
        background-color: $color-dark_green;
    }

    &--red{
        fill: $color-white;
        background-color: $color-red;
    }
    

    &--texticon{
        justify-content: space-between;

        & > .icon{
            width: 25px;
            height: 25px;
            margin-left: 1rem;
        }
    }
    /*
    &--active{
        background-color: $color-dark_gray !important;
        fill: $color-light_gray !important;
        color: $color-light_gray;
    } 
    */
}