.page{
    position: relative;
    background-color: $color-white;
    @include transition;

    &--full{
        padding: 0;
    }

    &__title{
        text-align: center;
        font-weight: 800;
    }

    &__controls{
        display: flex;
    }
}