@import './mixins/_mixins';
@import './variables/_colors';
@import './typography/_typography';
@import './typography/_fonts';

@import './defaults/resets';
@import './defaults/font-inheritance';
@import './defaults/core';
@import './defaults/image';

@import './components/_body';

@import './components/_padding';
@import './components/_margin';

@import './components/_button';

@import './components/_page';
@import './components/_heading';
@import './components/_intro';
@import './components/_menu';
@import './components/_map';
@import './components/_tiles';
@import './components/_grid';
@import './components/_widget';
@import './components/_tablet';
@import './components/_horizontal-slider';
@import './components/_banner';
@import './components/_list';
@import './components/_gallery';

@import './components/_text-link';

@import './components/_icon';
@import './components/_loading';
@import './components/_input';
@import './components/_switch';


#app{
    min-height: 100vh; 
    overflow-x: hidden; 
}
.app{
    &__page{
        min-height: 100vh;
        max-height: 100vh;
        max-height: auto;
        background-color: $color-white;
        @include transition;        
     
        &--mini{
            transform: translateX(65%) scale(.7);
            border-radius: 1.5rem;
            cursor: pointer;
            @include shadow-max;
            overflow: auto;

            &:hover{
                transform: translateX(65%) scale(.725);
            }

            &--hideoverflow{
                overflow: hidden;
            }

            & > .page{
                pointer-events: none;
            }
        }
    }
}
.fade-enter, .fade-leave-to{
    
    opacity: 0;
}
.fade-enter-active, .fade-leave-active{
    transition: .175s ease-in-out;
}