@import './typography/_typography';
@import './typography/_fonts';
@import './mixins/_mixins';
@import './variables/_colors';

@import './defaults/resets';
@import './defaults/font-inheritance';
@import './defaults/core';
@import './defaults/image';

@import './components/_body';

@import './components/_padding';
@import './components/_margin';

@import './components/_button';

@import './components/_page';
@import './components/_heading';
@import './components/_intro';
@import './components/_menu';
@import './components/_map';
@import './components/_tiles';
@import './components/_grid';
@import './components/_widget';
@import './components/_tablet';
@import './components/_horizontal-slider';
@import './components/_banner';
@import './components/_list';
@import './components/_gallery';
@import './components/_timeline';
@import './components/_calendar';
@import './components/_audio-player';

@import './components/_text-link';

@import './components/_icon';
@import './components/_loading';
@import './components/_input';
@import './components/_switch';
@import './components/_sliding-modal';
@import './components/_navigation-modal';
@import './components/_popup';

#app{
    min-height: 100vh; 
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.app{
    $self: &;
    &--menu-active{
        overflow-x: hidden;
    }
    &__page{
        position: relative;
        height: 100vh;
        
        background-color: $color-white;
        @include transition;
        
        &--mini{
            transform: translate3d(80%, 0, 0);
            cursor: pointer;
            @include shadow-max;
            overflow: auto;

            &--hideoverflow{
                overflow: hidden;
            }

            & > .page{
                pointer-events: none;
            }
        }
    }
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.fade-enter-active, .fade-leave-active{
    transition: .175s ease-in-out;
}

.slide-enter, .slide-leave-to{
    transform: translateY(calc(200%));
}
.slide-enter-active, .slide-leave-active{
    transition: .5s;
}

.slidetop-enter, .slidetop-leave-to{
    transform: translateY(-100%);
}
.slidetop-enter-active, .slidetop-leave-active{
    transition: .25s;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}