$color-white: #FEFEFE;

$color-light_gray: #EBEBEB;
$color-gray: #B0B0B0;
$color-dark_gray: #222222;

$color-red: #EE0040;
$color-light_green: #4CC590;
$color-dark_green: #005343;

$color-light_blue: #48BEFF;
$color-dark_blue: #1100FF;