<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ourzooapp" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Our Zoo</name>
    <description>
        Mobilní aplikace pro sjednocující systém Our Zoo na stránce ourzoo.eu
    </description>
    <author email="macamp34@gmail.com" href="https://ourzoo.eu">
        Martin Macháček
    </author>

    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon background="/res/android/mipmap-mdpi/ourzoo_background.png" density="mdpi" foreground="/res/android/mipmap-mdpi/ourzoo_foreground.png" />
        <icon background="/res/android/mipmap-hdpi/ourzoo_background.png" density="hdpi" foreground="/res/android/mipmap-hdpi/ourzoo_foreground.png" />
        <icon background="/res/android/mipmap-xhdpi/ourzoo_background.png" density="xhdpi" foreground="/res/android/mipmap-xhdpi/ourzoo_foreground.png" />
        <icon background="/res/android/mipmap-xxhdpi/ourzoo_background.png" density="xxhdpi" foreground="/res/android/mipmap-xxhdpi/ourzoo_foreground.png" />
        <icon background="/res/android/mipmap-xxxhdpi/ourzoo_background.png" density="xxxhdpi" foreground="/res/android/mipmap-xxxhdpi/ourzoo_foreground.png" />

        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
